@import 'base';
@import url('https://fonts.googleapis.com/css?family=Lato');

body.app {

  font-family: 'Lato', sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  color: $color-text;

  h1, h2, h3, h4 {
    font-weight: bold;
    margin: 9px 0 3px;
    letter-spacing: 0;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
  }

  p {
    margin-bottom: 8px;
  }

  a {
    color: $color-blue;
  }

  a, svg {
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
  }

  #application-background {
    $color-bg-gradient-1: lighten($color-gray-light, 5%);
    $color-bg-gradient-2: darken($color-gray-light, 2.5%);

    z-index: -1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-gray-light;
    background: -webkit-radial-gradient($color-bg-gradient-1, $color-bg-gradient-2);
    background: -o-radial-gradient($color-bg-gradient-1, $color-bg-gradient-2);
    background: -moz-radial-gradient($color-bg-gradient-1, $color-bg-gradient-2);
    background: radial-gradient($color-bg-gradient-1, $color-bg-gradient-2);
  }

  header {
    border-bottom: 1px solid darken($color-background-blue, 6%);
    margin-bottom: 18px;
    width: 100%;
    height: $app-header-height;
    overflow: hidden;

    #flash {
      position: relative;
      z-index: 200000;
      margin-top: 8px;
    }

    section.header {
      position: fixed;
      z-index: 10000;
      top: 0;
      left: 0;
      width: 100%;
      height: $app-header-height;
      margin: 0 auto;
      color: $color-charcoal;
      background-color: $color-white;
      border-bottom: 1px solid $color-gray-border;

      a.app-aside-trigger {
        display: block;
        position: absolute;
        top: 8px;
        left: 5px;
        padding: 0 10px;
        font-size: 24px;
        color: lighten($color-charcoal, 40%);

        @media screen and (min-width: $app-aside-transition-compact) {
          display: none;
        }
      }

      h1 {
        display: inline-block;
        font-size: 24px;
        color: $color-crimson;
        margin: 0;
        position: absolute;
        top: 8px;
        left: 50px;

        @media screen and (min-width: $app-aside-transition-compact) {
          left: $app-aside-width-compact + 15px;
        }
        @media screen and (min-width: $app-aside-transition-full) {
          left: $app-aside-width + 15px;
        }

        a {
          color: $color-crimson;

          &:hover {
            letter-spacing: 1px;
          }
        }
      }

      div.user-toolbar {
        $user-toolbar-width: 200px;
        position: absolute;
        width: $user-toolbar-width;
        top: 4px;
        right: 18px;
        text-align: right;

        div.text {
          display: block;
          position: absolute;
          top: 12px;
          right: 50px;
          span.name {
            display: block;
            float: right;
            width: $user-toolbar-width - 65px;
            padding-right: 6px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          i.fa {
            display: block;
            float: right;
          }
        }

        span.profile-picture {
          i.fa {
            font-size: 38px;
            color: $color-blue;
            -webkit-transition: 0.25s ease-in-out;
            -moz-transition: 0.25s ease-in-out;

            &:hover {
              color: darken($color-blue, 10%);
            }
          }
        }

        a {
          color: $color-blue;
        }

        ul {
          list-style: none;
        }
      }

      a.side-bar-button {
        position: absolute;
        top: 12px;
        left: 0;
        color: $color-white;
      }

      img.app-logo, svg.app-logo {
        display: inline-block;
        margin-left: 20px;
        width: 150px;
        fill: $color-white;
      }
    }
  }

  aside.app-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100001;

    @media print {
      display: none;
    }

    width: 0;
    @media (min-width: $app-aside-transition-compact) {
      width: $app-aside-width-compact;
    }
    @media (min-width: $app-aside-transition-full) {
      width: $app-aside-width;
    }

    &.with-overlay {
      width: $app-aside-width;
    }

    height: 100%;
    overflow: hidden;
    background-color: $color-charcoal;

    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;

    &:hover {
      width: $app-aside-width;
    }

    div.logo {
      width:  80%;
      height: 80px;
      margin: 18px auto;

      svg {
        width: 100%;
        max-width: 100px;
        max-height: 70px;
        fill: blue;

        .crimson {
          fill: $color-crimson;
        }
      }
    }

    ul {
      li {
        a {
          display: block;
          position: relative;
          margin: 10px 0;
          padding: 9px;
          color: $color-white;

          &.active {
            background-color: $color-blue;
          }

          &:hover {
            background-color: lighten($color-charcoal, 10%);
          }

          span.label {
            display: block;
            position: absolute;
            top: 16px;
            left: 60px;
          }
        }
      }
    }
  }

  div.app-action {
    position: absolute;
    top: $app-header-height;
    bottom: 0;
    left: 0;
    right: 0;
    @media screen and (min-width: $app-aside-transition-compact) {
      left: $app-aside-width-compact;
    }
    @media screen and (min-width: $app-aside-transition-full) {
      left: $app-aside-width;
    }

    margin: 0 auto;
    box-sizing: border-box;

    &.responsive {
      @media (min-width: 500px) {
        width: 500px - $app-aside-width;
      }

      @media (min-width: 768px) {
        width: 768px - $app-aside-width;
      }

      @media (min-width: 1024px) {
        width: 1024px - $app-aside-width;
      }
    }
  }

  .jq-dropdown {
    a {
      color: $color-blue;
      padding: 9px 18px;

      i.fa {
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}
